<h1>Ajout d'un produit</h1>
<div>
    <form action="/prod/add" method="POST">
        <input type="text" name="name">
        <input type="number" name="cost">
        <input type="number" name="rest">
        <input type="submit">
    </form>
{{ text }}</div>